In [ ]:
#### AIGNMENT 2 PANDAS

###

In [ ]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'
df = pd.read_csv(url)
df.head()

  user_id|age|gender|occupation|zip_code
0                1|24|M|technician|85711
1                     2|53|F|other|94043
2                    3|23|M|writer|32067
3                4|24|M|technician|43537
4                     5|33|F|other|15213

In [7]:
#### QUESTION 1 - Assign it to a variable called users and use the 'user_id' as index

df = pd.read_csv(url, sep="|", index_col="user_id")

In [13]:
#### QUESTION 2 - See the first 10 and last 10 entries

print('*****First 10 Entries*****')
print(df.head(10))
print('\n\n')
print('*****Last 10 Entries*****')
print(df.tail(10))

*****First 10 Entries*****
         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703



*****Last 10 Entries*****
         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

In [17]:
#### QUESTION 3 - What is the number of observations in the dataset?

print('The Number of Observation is : ',df.shape[0])

The Number of Observation is :  943

In [18]:
#### QUESTION 4 - What is the number of columns in the dataset?

print('Number of Columns : ',df.shape[1])

Number of Columns :  4

In [21]:
### QUESTION 5 - Print the name of all the columns.

print('The name of all Columns is : \n',df.columns)

The name of all Columns is :
 Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [23]:
#### QUESTION 6 - How is the dataset indexed?

print(' The Dataset index are : \n',df.index)

 The Dataset index are :
 Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

In [27]:
#### QUESTION 7 - What is the data type of each column?

print('The Data Type of each column is : \n',df.dtypes)

The Data Type of each column is :
 age            int64
gender        object
occupation    object
zip_code      object
dtype: object

In [29]:
#### QUESTION 8 - Print only the occupation column

print('Print only Occupation column : \n',df['occupation'])

Print only Occupation column :
 user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

In [42]:
#### QUESTION 9 - How many different occupations are in this dataset?

print('Number of different Occupations are : ',df['occupation'].value_counts().count())

Number of different Occupations are :  21

In [80]:
#### QUESTION 10 - What is the most frequent occupation?

print('Most frequent occupation is :\n',df['occupation'].value_counts().sort_values(ascending=False).head(1))

Most frequent occupation is :
 student    196
Name: occupation, dtype: int64

In [49]:
#### QUESTION 11 - Describe all the columns

print(df.describe())

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

In [64]:
#### QUESTION 12 - Summarize only the occupation column

df.occupation.describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

In [79]:
#### QUESTION 13 - What is the mean age of users?

print('Mean age of User is : ',df.age.mean())

Mean age of User is :  34.05196182396607

In [82]:
#### QUESTION 14 - What is the age with least occurrence?

print(df.age.value_counts().sort_values(ascending=True).head())

73    1
7     1
10    1
11    1
66    1
Name: age, dtype: int64